.icons{
    &__items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 71px 0 100px;
        &_partner{
            display: flex;
            align-items: center;
            column-gap: 12px;
        }
    }
}